

#chips-wrapper, #primary, #contentContainer, #secondary {
  margin-top: 40px;
}


/*#container.style-scope.ytd-masthead {*/
#masthead {
  padding-top: 40px;
  background: rgba(20, 20, 20, .5);
  backdrop-filter: blur(50px);
}

/*=== Hide Items ====*/
.style-scope.ytd-masthead yt-icon-button:not(.ytd-notification-topbar-button-renderer):first-child{
  display: none;
}


#action-companion-click-target, .ytp-ad-module {
  display: none;
}


/* UI components we don't want */
yt-related-chip-cloud-renderer, 
.super-title.ytd-video-primary-info-renderer, 
ytd-metadata-row-container-renderer.ytd-video-secondary-info-renderer {
  display: none;
}



#masthead-container




.tabWrapper {
  position: relative;
  width:  100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y:  auto;
  border:  1px solid red;
}











.accessDisableHolder {
  position: fixed;
  left:  0;
  top:  0;
  z-index: 1000000;
  width:  100vw;
  height: 100vh;

  background: rgba(10, 10, 10, .8);
  backdrop-filter: blur(50px);
  transition: all .2s;
}

.accessDisableHolder.hide {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}


.accessDisableHolder .page {
  position: absolute;
  left:  0;
  top:  0;
  width:  100%;
  height: 100%;
  transition: all .2s;
}

.accessDisableHolder .page.hide {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}



/* AccessDisabled-page */
.accessDisableHolder .page .textHolder {
  position: relative;
  top:  47vh;
  transform: translateY(-50%);
}

.accessDisableHolder .page .textHolder .text {
  color:  #bbb;
  text-align: center;
  line-height: 30px;
}

.accessDisableHolder .page .textHolder .text.header {
  font-size: 25px;
  color:  #fff;
}



.accessDisableHolder .page .domainHolder {
  position: relative;
  margin: auto;

  width:  200px;
  height: auto;
  
  border-top: 1px solid rgba(255, 255, 255, .2);
}
.accessDisableHolder .page .domainHolder .domainItem {
  position: relative;
  width:  100%;
  height: 20px;
  padding:  5px 0;
}

.accessDisableHolder .page .domainHolder .domainItem .text.title {
  float:  left;
  height: 20px;
  line-height: 20px;
}

.accessDisableHolder .page .domainHolder .domainItem .text.icon {
  float:  right;
  right:  0;

  height: 16px;
  width: auto;
  padding:  2px 5px;

  opacity: .5;

  transition: opacity .2s;
}

.accessDisableHolder .page .domainHolder .domainItem .text.icon:hover {
  opacity: .8;
}



.accessDisableHolder .page .addDomainHolder {
  position: relative;
  margin:  auto;
  width:  240px;
  margin-top: 20px;

}
.accessDisableHolder .page .addDomainHolder .text.arrowIcon {
  float:  left;
  width:  30px;
  font-size: 14px;
  text-align: center;
}
.accessDisableHolder .page .addDomainHolder input.inputField {
  float: left;
  width:  30px;
  height: 20px;
  padding:  5px 5px;
  border:  1px solid rgba(255, 255, 255, .4);
  
  font-size: 12px;
  line-height: 20px;
}
.accessDisableHolder .page .addDomainHolder .text.colon {
  float:  left;
  border-top:  1px solid rgba(255, 255, 255, .4);
  border-bottom:  1px solid rgba(255, 255, 255, .4);
  
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.accessDisableHolder .page .addDomainHolder input.inputField.minuteInput {
  border-left:  none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
}
.accessDisableHolder .page .addDomainHolder input.inputField.hourInput {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 0;
}

.accessDisableHolder .page .addDomainHolder .button.bBoxy.text {
  float:  left;
  margin-left: 10px;
  width:  auto;
  border:  1px solid rgba(255, 255, 255, .3);
  font-size: 12px;
  padding: 0 10px !important;
}







.button {
  position: relative;
  width: auto;
  padding: 7px 15px !important;

  border-radius: 30px;
  font-size: 13px;

  overflow: hidden;
  cursor: pointer;
}
  .button.bBoxy {
    border-radius: 4px; 
  }

  .button.bDefault {
    background: rgb(140, 153, 247);
    color: #fff !important;
  }

  .button img {
    position: relative;
    top: 3px;
    margin-left: -5px;
    margin-right: 3px;

    width: 16px;
    height: auto;
  }





.inputField {
  position: relative;
  left: 0;
  padding: 7px 3px;
  height: 32px;
  border-radius: 3px;
  background: transparent;

  border: none;
  outline: none;

  color: #888;
}






.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #555;
  font-size: 15px;
}








#menu .button {
  position: relative;
  margin-top: 3px;

  height: 16px;
  line-height: 16px;
  padding: 7px 7px !important;

  border-radius: 5px;
  border:  1px solid #fff;

  color:  #fff;
  font-size: 12px;
}








YTD-RICH-ITEM-RENDERER.ytd-rich-grid-renderer {
  opacity: 0;
  transform: scale(.8);
  transition: opacity .3s, transform .3s;
}

YTD-RICH-ITEM-RENDERER.ytd-rich-grid-renderer.approvedVideo {
  opacity: 1;
  transform: scale(1);
}
















iframe.videoContainer {
  position: fixed;
  left:  0;
  top:  100px;

  width:  100vw;
  height: calc(100vh - 100px);
  border:  1px solid orange;
}


/*VideoTab styles*/

body.isVideoTab #masthead-container {
  display: none;
}

body.isVideoTab .ytd-watch-next-secondary-results-renderer {
  display: none;
}





