

#chips-wrapper, #primary, #contentContainer, #secondary {
  margin-top: 40px;
}


/*#container.style-scope.ytd-masthead {*/
#masthead {
  padding-top: 40px;
  background: rgba(20, 20, 20, .5);
  backdrop-filter: blur(50px);
}

/*=== Hide Items ====*/
.style-scope.ytd-masthead yt-icon-button:not(.ytd-notification-topbar-button-renderer):first-child{
  display: none;
}


#action-companion-click-target {
  opacity: .1;
}

.ytp-ad-module {
  opacity: .1;
}












.accessDisableHolder {
  position: fixed;
  left:  0;
  top:  0;
  z-index: 1000000;
  width:  100vw;
  height: 100vh;

  background: rgba(10, 10, 10, .8);
  backdrop-filter: blur(50px);
  transition: all .2s;
}

.accessDisableHolder.hide {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}



.accessDisableHolder .textHolder {
  position: relative;
  top:  47vh;
  transform: translateY(-50%);
}

.accessDisableHolder .textHolder .text {
  color:  #bbb;
  text-align: center;
  line-height: 30px;
}

.accessDisableHolder .textHolder .text.header {
  font-size: 25px;
  color:  #fff;
}













.button {
  position: relative;
  width: auto;
  padding: 7px 15px !important;

  border-radius: 30px;
  font-size: 13px;

  overflow: hidden;
  cursor: pointer;
}
  .button.bBoxy {
    border-radius: 4px; 
  }

  .button.bDefault {
    background: rgb(140, 153, 247);
    color: #fff !important;
  }

  .button img {
    position: relative;
    top: 3px;
    margin-left: -5px;
    margin-right: 3px;

    width: 16px;
    height: auto;
  }





.inputField {
  position: relative;
  left: 0;
  padding: 7px 3px;
  height: 32px;
  border-radius: 3px;
  background: transparent;

  border: none;
  outline: none;

  color: #888;
}






.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #555;
  font-size: 15px;
}
