



#navBar {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: calc(100vw);
  height: 40px;

  transition: all .2s;
}

body.no-scroll #navBar:not(.showInFullScreen) {
  top: -50px;
}

#navBar .buttonHolder {
  position: relative;
  float:  left;
  width:  130px;
  padding-right: 10px;
  height: 40px;
}

#navBar .buttonHolder .item {
  position: relative;
  float:  right;
  height: 20px;
  margin:  5px;
  padding: 5px 10px;
  border-radius: 0;
  cursor:  pointer;
}

#navBar .buttonHolder .item.icon {
  width:  auto;
  opacity: .6;
  transition: all .2s;
}
#navBar .buttonHolder .item.icon:hover {
  opacity: .8;
}

#navBar .buttonHolder .item.timeWatchedButton {
  width:  auto;
  background:  rgb(30, 170, 250);

  line-height: 20px;
  border-radius: 5px;
  color:  #fff;
  font-size: 12px;
}





#navBar .tabHolder {
  position: relative;
  float:  left;
  padding-left: 10px;
  
  width:  calc(100% - 10px - 150px);
  height: 40px;

  display: flex;
  flex-wrap: nowrap;
  /*overflow-x: auto;*/
}

#navBar .tabHolder .tab {
  position: relative;
  float:  left;
  top:  3px;

  padding: 3px 5px;
  height: 25px;
  margin-left: 4px;

  width:  auto;
  max-width: 200px;
  overflow: hidden;

  background:  rgba(50, 50, 50, .7);
  border-radius: 5px;
  transition: all .3s;
}

#navBar .tabHolder .tab:hover {
  padding-left: 29px;
}
#navBar .tabHolder .tab.remove {
  opacity: 0;
  max-width: 0;
  margin-left:  -5px;
  padding-left: 3px !important;
}



#navBar .tabHolder .tab .text.closeButton {
  position: absolute;
  left: -25px;
  float:  left;
  
  width:  10px;
  height: 10px;
  
  padding: 5px;
  margin:  3px;

  background:  rgba(70, 70, 70, .8);
  cursor:  pointer;

  border-radius: 3px;

  text-align: center;
  color:  #eee;
  line-height: 10px;
  font-size: 14px;
  transition: all .3s;
}

#navBar .tabHolder .tab:hover .text.closeButton {
  left:  0;
}


#navBar .tabHolder .tab .text.titleHolder {
  width: auto;
  min-width: 50px;
  max-width: 200px;

  color:  #ccc;
  font-size: 11px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;

  overflow: hidden;

  transition: all .3s;
}


#navBar .tabHolder .tab:hover .text.titleHolder {
  color:  #fff;
}